@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Rajdhani&display=swap');
/*font-family: 'Ibarra Real Nova', serif;
font-family: 'Rajdhani', sans-serif;*/

.main-cont {
  text-align: center;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./assets/images/SVG/endless-constellation.svg'); /* background by SVGBackgrounds.com */
  overflow-x: hidden;
  font-family: 'Rajdhani', 'Ibarra Real Nova', sans-serif;
}


.footer {
  border-top: 1.5px;
  background-color: #A8A4CE;
}