.main-cont {
  text-align: center;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./assets/images/SVG/endless-constellation.svg'); /* background by SVGBackgrounds.com */
  overflow-x: hidden;
  overflow-y: auto;
}


.footer {
  border-top: 1.5px;
  background-color: #A8A4CE;
}