.contacts-section {
        color: white;
        scroll-margin-top: 5rem;

        h3{
            font-size: 2.5rem;
        }
}

#emailHelp{
    color: white;
}

.img-mario{
    border: 2px solid red;
    border-radius: 50%;
    width: 5rem;
    height: auto;
}

.social-holder {
    font-size: 3rem;
    // border: 2px solid red;
    margin: auto;
    .col {
        margin: auto;
        color: #141414;
        width: 5em;
    }
    a{
        svg{
            transition: all .5s ease-in-out;
            background-color: rgba(255, 255, 255, 0.849);
            border-radius: 5px;
        }
    }
    
    .linkedIn {
        color: #0a66c2; 
        svg {
            padding: 2.5px;
        }
    }
    
    .gitHub {
        color: #cae1f4;   
        svg {
            background-color: rgb(114, 111, 108);
            padding: 2.5px;
        }
    }
    
    .twitter {
        color: #1DA1F2;
    }
    
    .facebook {
        color: #4267B2;
    }
    
    
}




@media screen and (min-width: 768px){
    .social-holder {
        .linkedIn {
            color: #141414;
            svg{
                background-color: antiquewhite;
                padding: 2.5px;
            }
            &:hover {
                color: #0a66c2;
                svg{
                    background-color: transparent;
                }
            }  
        }
        
        .gitHub {
            color: #141414;
            svg{
                background-color: antiquewhite;
            }
            &:hover {
                color: #cae1f4;
                svg{
                    background-color: transparent;
                }
            }    
        }
        
        .twitter {
            color: #141414;
            svg{
                background-color: antiquewhite;
            }
            &:hover {
                color: #1DA1F2;
                svg{
                    background-color: transparent;
                }
            }
        }
        
        .facebook {
            color: #141414;
            svg{
                background-color: antiquewhite;
            }
            &:hover {
                color: #4267B2;
                svg{
                    background-color: transparent;
                }
            }  
            
        }
    }
    
}
