.contacts-section {
        color: white;
        // scroll-margin-top: 3rem;
        // scroll-padding-top: 20px;
        // height: 400px;
        padding-top: 60px;
        margin-top: 30px;
        height: 90vh;
        border: 3px solid green;

        h3{
            font-size: 2.5rem;
        }
}

#emailHelp{
    color: white;
}

.link-email {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color:#cae1f4;
    
}


.img-mario{
    border-radius: 50%;
    width: 5rem;
    height: auto;
}

.social-holder {//
    
    font-size: 3rem;
    // border: 2px solid red;
    .col {
        margin: auto;
        color: #141414;
        width: 2em;
    }
    a{
        svg{
            transition: all .25s ease-in-out;
            // background-color: rgba(133, 119, 119, 0.849);
            border-radius: 5px;
        }
    }
    
    .linkedIn {
        color: #0a66c2;
    }
    
    .gitHub {
        color: #cae1f4;   
    }
    
    .twitter {
        color: #1DA1F2;
    }
    
    .facebook {
        color: #4267B2;
    }
    
    
}






@media screen and (min-width: 768px){
    .social-holder {
        
        .linkedIn {
            color: #141414;
            svg{
                background-color: antiquewhite;
                padding: 2.5px;
            }
            &:hover {
                color: #0a66c2;
                svg{
                    background-color: transparent;
                    transform: translateY(-10px)
                }
            }  
        }
        
        .gitHub {
            color: #141414;
            svg{
                background-color: antiquewhite;
            }
            &:hover {
                color: #cae1f4;
                svg{
                    background-color: transparent;
                    transform: translateY(-10px)
                }
            }    
        }
        
        .twitter {
            color: #141414;
            svg{
                background-color: antiquewhite;
                
            }
            &:hover {
                color: #1DA1F2;
                svg{
                    background-color: transparent;
                    transform: translateY(-10px)
                }
            }
        }
        
        .facebook {
            color: #141414;
            svg{
                background-color: antiquewhite;
            }
            &:hover {
                color: #4267B2;
                svg{
                    background-color: transparent;
                    transform: translateY(-10px)
                }
            }  
            
        }
    }
    
}
