.navbar {
    background: transparent;
    transition: all 0.5s ease-in-out;
}

.navbar.active {
    background-color: rgb(185, 198, 209);
    opacity: 1;
}

.show-bg{
    background-image: url(../images/SVG/dragon-scales.svg); /* background by SVGBackgrounds.com */
    opacity: 1;
}

.navbar-toggler {
    margin-top: .75rem;
    height: 3rem;
}

.navbar-nav {
    text-align: center;
    width: 100%;
}

.brand-holder {
    // border: 2px solid red;

    .brand-logo-2 {
        margin-left: -3rem;
    }
}