.navbar {
    background: transparent;
    transition: all 0.5s ease-in-out;
    // border: 2px solid red;
    color: white;

    .container{
        max-width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
}
#basic-navbar-nav{
    color: white;
}

.navbar-toggler-icon {
    background-image: url("../images/SVG/burger.svg") !important;
}

.show-bg{
    background-color: rgb(171, 173, 175);
    opacity: 1;
}

.navbar.active {
    background-color: rgb(171, 173, 175);
    opacity: 1;
}

.navbar-toggler {
    margin-top: .75rem;
    height: 3rem;
}

.navbar-nav{
    font-size: 1.25rem;
    font-weight: bold;
}

.brand-logo{
    // border: 2px solid green;
    height: 5rem;
    width: 5rem;
}



@media screen and (min-width: 562px) {
    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
        color:rgb(171, 173, 175);
        .navbar-nav{
            font-size: 1.5rem;
            // border: 2px solid rgb(167, 28, 167);
            padding-right: 2rem;
            a{
                color:rgb(171, 173, 175);
            }
        }
    }
}

@media screen and (min-width: 768px){
   
}
