.navbar {
    background-color: #e4dcdc;
    opacity: 0.25;
    transition: background-image .5s ease-in-out;
}

.show-bg{
    background-image: url(../images/SVG/dragon-scales.svg);
    opacity: 1;
}

.navbar-nav {
    text-align: center;
    width: 100%;
}

.brand-holder {
    // border: 2px solid red;

    .brand-logo-2 {
        margin-left: -3rem;
    }
}