

.skills {
    color: rgb(224, 216, 216);
    scroll-margin-top: 5em;
    margin-top: 2.5em;
    border: 1px dotted transparent;
}

.quote-container {
    margin-top: 3rem;
}

.quote-text {
    font-weight: bold;
    margin-bottom: 0;
}
.about-sales{
    margin: auto;
    width: 90%;
}

.quote-author {
    font-weight: bold;
    font-size: 1.25rem;
}

.tech-skills{
    font-size: 2rem;
    font-weight: bold;
}

.skills-logo{
    img{
        height: auto;
        width: 8rem;
    }
    .mongo{
        border-radius: 2rem;
        background-color: rgba(218, 225, 231, 0.788);
    }
}