

.skills {
    color: rgb(224, 216, 216);
    background-size: cover;
    margin: auto;
    border: 1px solid rgb(252, 244, 244, 0);
    scroll-margin-top: 4rem;
    // border: 3px solid red;
}

.quote-container {
    margin-top: 6rem;
}

.quote-text {
    font-weight: bold;
    margin-bottom: 0;
}
.about-sales{
    margin: auto;
    width: 90%;
}

.quote-author {
    font-weight: bold;
    font-size: 1.25rem;
}

.skills-logo{
    img{
        height: auto;
        width: 8rem;
    }
    .reactlogo{
        width: 10rem;
    }
}

// .col, .col-6 {
//     border: 2px solid red;
// }

