

.works {
    scroll-margin-top: 5rem;
    color: white;
    // border: 2px solid red;
    
    h2{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .container {
        .card{
            color: black;
            width: 75%;
        }
    }

    .chev-right-1 {
            font-size: 2rem;
            animation: right 1s infinite linear;
    }

    .see-more {
        p {
            font-size: 2rem;
        }
    }
}


@media screen and (min-width: 768px){
    .card{
        color: black;
        width: '15rem';
    }
}