/* About Page Design*/   
.about{
    font-family: 'Poppins', sans-serif;
    height: 650px;
    text-align: center;
    border-radius: 5px;
    background-color: burlywood;
    h2{
      font-size: 32px;
    }
    h3{
      font-size: 28px;
      padding: 13px 0 17px 0;
    }  
}
.about-info{
  padding: 10px;
}
/* Skills container below*/
.skills-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 13rem);
  grid-template-rows: repeat(3, 5rem);
  grid-gap: 10px;
  grid-template-areas:
    ". . chtml5 javasc . ."
    ". . ccss3 creact . ."
    ". . csass . . .";

    .skills{ 
      padding: 0;
      margin: 0;
        img{
          object-fit: contain;
          width: 80%;
          height: 80%;
      }
    } 
}
      .chtml5{
        grid-area: chtml5;
      }
      .ccss3{
        grid-area: ccss3;
      }
      .javasc{
        grid-area: javasc;
      }
      .creact{
        grid-area: creact;
      }
      .csass{
        grid-area: csass;
      }

      /*    
       Services 
       container 
       below   
      
      */
      .services{
        border-radius: 2px;
        background-color: #27ae60;
        text-align: center;
        
        h2{
          padding-top:10px;
        }
      }
      .offer-container{
        margin-top: 10px;
        display:flex;
        flex-direction: column;
        align-items: center;
      }

      .offers{
        font-size: .85rem;
        margin: 15px 0 15px 0;
        padding: -10px;
        width: 50%;
        p{
          font-family: 'Benne', serif;
          word-wrap: break-word;
          font-family: 500;
        }
        img{
          object-fit: cover;
          width: 50%;
          height: 50%;
        }
        strong{
          font-size: 1rem;
          display: block;
        }
      }