
/* Home Page Design*/
.home {
    font-family: 'Metrophobic', sans-serif;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    .intro{
        margin-top: 15px;
        width: 100%;
        padding: 15px;
        box-shadow: 3px 5px 23px 7px rgb(110, 76, 231);

        h1{
            padding-bottom: 7.5px;
        }    
        
        
    }
 }


 .coderhandler{
    width: 100%;

    img{
        display:block;
        width: 100%;
    }
}

 .goto-about{
    position: relative;
    width: 100%;
    top: 30px;
    display: flex;
    justify-content: center;
    
    a{
        color:#fff;
        text-decoration: none;
        width: 20px;
    }
}  

.goto-handler{
    padding-top: 6.5px;
    padding-left: 8px;
    width: 100px;
    height:35px;
    border-radius: 5px;
    background-size: 200%;
    transition: 0.6s;
    background-image: linear-gradient(to left, #b0a6b5, #8e32b3, #a86ac1);      
}

    
