.projects{
    border-radius: 17px;
    height:100vh;
    width: 100%;
    font-family: 'Raleway', 'sans-serif';
    margin: 20px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projinfo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-holder{
    display:grid;
    height: 100%;
    justify-self: center;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: auto;
    gap: 10px;

}
.projitem{
    border-radius: 25px;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
}


@media screen and (max-width: 407px){
    .projects{
        height: 900px;
    }
}