/* font-family: 'Poppins', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap);
/* font-family: 'Raleway', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Raleway:700&display=swap);
/* font-family: 'DotGothic16', sans-serif; */
@import url(https://fonts.googleapis.com/css2?family=DotGothic16&display=swap);
/* font-family: 'Nunito', sans-serif; */
@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap);
/* font-family: 'Ballet', cursive; */
@import url(https://fonts.googleapis.com/css2?family=Ballet&family=Oi&display=swap);
/* font-family: 'Metrophobic', sans-serif; */
@import url(https://fonts.googleapis.com/css2?family=Metrophobic&display=swap);
/* font-family: 'Benne', serif; */
@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 100vw;
  scroll-padding: 50px 0 0 0;
}

/*
    *nav menu styling
    *nav bar responsiveness
*/
.nobar {
  visibility: hidden;
}

.navibar {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  background: #5654cf;
  padding: 0 20px;
  color: #fff;
  z-index: 999;
}

.brand-logo {
  padding-bottom: 10px;
  margin-top: 24px;
  line-height: 20px;
  float: left;
  text-transform: uppercase;
}

.nav-menu {
  font-family: 'Poppins', sans-serif;
  float: right;
  position: fixed;
  background: #5654cf;
  width: 100%;
  height: 100vh;
  right: -100%;
  top: 0;
  text-align: center;
  padding: 60px 0;
  line-height: normal;
  -webkit-transition: .35s;
  transition: .35s;
}

.nav-menu a {
  color: black;
  font-size: 1.3rem;
  display: block;
  text-decoration: none;
  margin-top: 5px;
  padding: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-menu a::after {
  content: '';
  height: 2px;
  display: block;
  left: 1em;
  right: 1em;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  background: #d46f6f;
}

.nav-menu a:hover::after, .nav-menu a:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.burger-btn, .close-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: -15px;
  font-size: 24px;
  cursor: pointer;
  display: block;
}

.close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
}

.burger-btn {
  float: right;
}

.burger-btn i {
  line-height: 100px;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

#chk:checked ~ .nav-menu {
  right: 0;
}

/* Home Page Design*/
.home {
  font-family: 'Metrophobic', sans-serif;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .intro {
  margin-top: 15px;
  width: 100%;
  padding: 15px;
  -webkit-box-shadow: 3px 5px 23px 7px #6e4ce7;
          box-shadow: 3px 5px 23px 7px #6e4ce7;
}

.home .intro h1 {
  padding-bottom: 7.5px;
}

.coderhandler {
  width: 100%;
}

.coderhandler img {
  display: block;
  width: 100%;
}

.goto-about {
  position: relative;
  width: 100%;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goto-about a {
  color: #fff;
  text-decoration: none;
  width: 20px;
}

.goto-about div {
  padding-top: 6.5px;
  padding-left: 8px;
  width: 100px;
  height: 35px;
  background-color: #6e4ce7;
  border-radius: 5px;
}

/* About Page Design*/
.about {
  font-family: 'Poppins', sans-serif;
  height: 650px;
  text-align: center;
  border-radius: 5px;
  background-color: burlywood;
}

.about h2 {
  font-size: 32px;
}

.about h3 {
  font-size: 28px;
  padding: 13px 0 17px 0;
}

.about-info {
  padding: 10px;
}

/* Skills container below*/
.skills-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (13rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 13rem);
  -ms-grid-rows: (5rem)[3];
      grid-template-rows: repeat(3, 5rem);
  grid-gap: 10px;
      grid-template-areas: ". . chtml5 javasc . ." ". . ccss3 creact . ." ". . csass . . .";
}

.skills-container .skills {
  padding: 0;
  margin: 0;
}

.skills-container .skills img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 80%;
  height: 80%;
}

.chtml5 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: chtml5;
}

.ccss3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: ccss3;
}

.javasc {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: javasc;
}

.creact {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: creact;
}

.csass {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: csass;
}

/*    
       Services 
       container 
       below   
      
      */
.services {
  border-radius: 2px;
  background-color: #27ae60;
  text-align: center;
}

.services h2 {
  padding-top: 10px;
}

.offer-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers {
  font-size: .85rem;
  margin: 15px 0 15px 0;
  padding: -10px;
  width: 50%;
}

.offers p {
  font-family: 'Benne', serif;
  word-wrap: break-word;
  font-family: 500;
}

.offers img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 45%;
  height: 45%;
}

.offers strong {
  font-size: 1rem;
  display: block;
}

.projects {
  position: relative;
  border-radius: 17px;
  height: 100vh;
  width: 100%;
  font-family: 'Raleway', 'sans-serif';
  margin: 20px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projinfo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.project-holder {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-columns: (200px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 200px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 10px;
}

.projitem {
  border-radius: 25px;
}

.projitem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

@media screen and (max-width: 407px) {
  .projects {
    height: 900px;
  }
}

.contact {
  max-width: 100vw;
  border-radius: 3px;
}

.contact-start {
  padding-top: 50px;
  height: 80vh;
  background-color: #6c63ff;
}

.info {
  text-align: center;
}

.contact-form {
  padding: 10px 9px;
}

.inpholder {
  margin: 15px 0;
  color: #fff;
}

.inpholder label {
  position: relative;
  top: -25px;
  left: 15px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
}

.inpholder span {
  position: relative;
  top: -45px;
  left: -15px;
  font-size: .9rem;
  color: transparent;
  pointer-events: none;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fff;
  background: transparent;
  padding: 6px 5px;
  color: #fff;
  font-weight: 500;
  font-size: .95rem;
  letter-spacing: .5px;
  border-radius: 17px;
  -webkit-transition: .45s;
  transition: .45s;
}

.textarea .des-mess {
  top: -80px;
}

.textarea .input {
  padding: 14px 18px;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.textarea label {
  padding: 9px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.textarea span {
  top: -160px;
  left: -60px;
}

.btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-holder button {
  position: absolute;
  border-radius: 23px;
  padding: 5px;
  font-weight: 500;
  background-color: #2ecc71;
  color: white;
  cursor: pointer;
  outline: none;
}

.btn-holder button:hover, .btn-holder button:active {
  background-color: white;
  color: #2ecc71;
}

.btn-holder button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.btn-holder button:focus {
  border: 1.5px solid #9d3b3b;
}

.focus span {
  background-color: #6c63ff;
  padding-left: 5px;
}

.focus label {
  top: -42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.focus .des-mess {
  top: -163px;
  left: 10px;
  padding: 15px;
}

@media screen and (max-height: 650px) {
  button {
    margin-top: -15px;
    margin-bottom: 15px;
  }
}

/*
    Footer from here on

*/
.contact-links {
  width: 100%;
  background-color: #34495e;
}

.git-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 15px;
}

.git-links a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  background-color: #fff;
  text-align: center;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.git-links a:hover, .git-links a:focus {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.git-links a:nth-child(1):hover, .git-links a:nth-child(1):focus {
  background-color: #131418;
}

.git-links a:nth-child(2):hover, .git-links a:nth-child(2):focus {
  background-color: #0077B5;
}

.git-links a:nth-child(3):hover, .git-links a:nth-child(3):focus {
  background-color: #55acee;
}

.fab {
  font-size: 30px;
  line-height: 60px;
  -webkit-transition: .6s;
  transition: .6s;
  color: #000;
}

.fab:hover {
  color: #fff;
}

/*
    *
    * Media Queries Section
    *
*/
@media (max-width: 414px) {
  .project-holder {
    -ms-grid-columns: (170px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 170px);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
  }
  .contact-start {
    padding-top: 40px;
    height: 85vh;
  }
}

@media (min-width: 619px) and (max-height: 3173px) {
  /*
        Navbar styling
    */
  .burger-btn, .close-btn {
    display: none;
  }
  .nav-menu {
    float: right;
    right: 1px;
    width: auto;
    height: 55px;
    line-height: 0;
    padding: 0;
  }
  .nav-menu a {
    color: #fff;
    display: inline-block;
  }
  .nav-menu a::after {
    background-color: turquoise;
  }
  /* 
        Home query (min-W-619 and max-H-3173.6)
    */
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .home h1 {
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 2.3rem;
  }
  .home p {
    font-size: 1.24rem;
  }
  .intro {
    margin-left: 10px;
  }
  .goto-about {
    position: absolute;
    top: auto;
    bottom: 120px;
  }
  .goto-handler:hover {
    background-color: white;
    border: 1px solid #6e4ce7;
    padding-right: 3px;
    -webkit-box-shadow: 4px 3px grey;
            box-shadow: 4px 3px grey;
  }
  .goto-handler:hover a {
    font-weight: bold;
    color: #6e4ce7;
  }
  /* 
        About query (min-W-619 and max-H-3173.6)
    */
  .about-info p {
    font-size: .95rem;
  }
  .skills-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (210px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 210px);
    -ms-grid-rows: (120px)[2];
        grid-template-rows: repeat(2, 120px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    grid-auto-flow: column;
        grid-template-areas: "chtml5 javasc ccss3" "csass . creact";
  }
  .skills-container .skills {
    padding: 0;
    margin: 10px;
    width: auto;
    height: 100px;
  }
  .skills-container .skills img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 90%;
  }
  .chtml5 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: chtml5;
  }
  .ccss3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: ccss3;
  }
  .javasc {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: javasc;
  }
  .creact {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: creact;
  }
  .csass {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: csass;
  }
  /* Services Sectio */
  .offer-container {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .offers {
    font-size: .85rem;
    margin: 0 5px 0 5px;
    width: 33.3%;
  }
  .offers p {
    font-size: .9rem;
  }
  /* 
        Project query (min-W-619 and max-H-3173.6)

*/
  .projects {
    height: 80vh;
  }
  .projinfo {
    position: relative;
    font-size: 2.1rem;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .project-holder {
    display: -ms-grid;
    display: grid;
    padding: 0 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-auto-flow: column;
    -ms-grid-rows: 200px 200px;
        grid-template-rows: 200px 200px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-template-rows: 200px 200px;
    gap: 10px;
        grid-template-areas: "mdp . rqd rqd . dpm " "calc . rqd rqd . pomo";
  }
  .project-holder:hover > .projitem:not(:hover) {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  .project-holder div {
    -webkit-transition: 1s;
    transition: 1s;
  }
  .project-holder div:hover {
    z-index: 2;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .project-holder div:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: rqd;
  }
  .project-holder div:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: mdp;
  }
  .project-holder div:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: dpm;
  }
  .project-holder div:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: calc;
  }
  .project-holder div:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
    grid-area: pomo;
  }
  /* Contacts section*/
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #3c4041;
  }
  .contact-start {
    margin: 10px 0 10px 0;
    border-radius: 5px;
    width: 35rem;
    background-color: #00b894;
  }
  .focus span {
    background-color: #00b894;
    padding-left: 5px;
  }
  .btn-holder button {
    background-color: #4d5952;
  }
}
/*# sourceMappingURL=styles.css.map */